*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  color: white;
  font-family: sans-serif;
}
.main-panel{
  outline: 1px solid blue;
  background-color: var(--blue-cycle);
  height: 300px;
}
p{
  color: black;
}