<html>
  <head>

    <title>Wheel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      <% include ../styles/colors.css %>
      <% include ../styles/elements.css %>
    </style>

    <script> <% include ../script/main.js %> </script>

  </head>
  <body>