<%- include ./components/head %>

<h1>template form side to wheel</h1>

<div id="frame">
  <img id="background" alt="background">
  <img id="side" alt="side">


</div>


<%- include ./components/footer %>