*{
  font-display: swap;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
#frame{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%; height: 100%;
  max-width: 900px; max-height: 600px;
  overflow: hidden;
}
/* previous is left: 225px
   maybe make it under the side panel
   the side is as large as the ecart
*/
#background{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
#side{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  width: 225px; /*here change it*/
  height: 100%;
}
#logo{
  position: absolute;
  top: 10px; left: 230px;
  width: 400px; height: 100px;
  object-fit: contain;
}