*{font-display: swap}
body{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#app{
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%; height: 100%;
  max-width: 900px; max-height: 600px;
  background-color: #fbefe0;
  overflow: hidden;
}
.background{
  position: absolute; top: 0px; right: 0px; left: 225px; bottom: 0px;
  background-image: url('<%- config.assets.fr.background %>');
  background-size: cover;
}
.left{
  position: absolute;
  top: 0px; left: 0px; bottom: 0px;
  width: 225px;
  background-image: url('<%- config.assets.fr.left %>');
  background-size: cover;
}
.left div{
  position: absolute; bottom: 2px; left: 0px; right: 0px;
  text-align: center;
  font-size: 18px; color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.8);
  font-family: 'MartinB';
}
.logo{
  background-image: url('<%- config.assets.fr.logo %>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; top: 10px; left: 230px;
  width: 400px; height: 100px;
  transition: all .3s;
  opacity: 1;
}
.game .logo{
  transform: translateY(-20%) translateX(-25%) scale(.6);
  opacity: 1;
}
.content{
  position: absolute;
  top: 110px; left: 230px; bottom: 10px;
  width: 400px;
  text-align: center;
  color: #272825;
  opacity: 1;
  transition: all 1s;
}
.game .content{
  opacity: 0;
  transform: translateY(100%);
}
.subtitle{
  text-align: center;
  font-size: 13px;
  color: #272825;
}
.content form{
  margin-top: 10px;
}
.form-row{
  display: inline-block;
  text-align: left;
  width: 355px;
  position: relative;
  margin-bottom: 5px;
}
.form-row label{
  display: block;
  font-family: 'WomensVoice';
  font-size: 22px;
  margin-bottom: -5px;
}
.form-row input{
  width: 100%;
  margin-top: 3px;
  height: 22px; line-height: 22px;
  border: 2px solid #ece2ce;
}
.form-row.error input{
  border: 2px solid #ad2121;
}

.form-row.error select{
  border: 2px solid #f76255;
}
.form-row.checkbox label,
.form-row .radio-wrapper label{
  display: inline-block;
  font-family: 'Martin';
  min-width: 100px;
  font-size: 16px;
}
.form-row a{
  color: #272825;
}
.form-row.checkbox input,
.form-row .radio-wrapper input{
  width: 20px; height: 20px;
  transform: translateY(3px);
}
.form-row select {
  margin-top: 3px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #ece2ce;
  background: white;
}
.form-row.checkbox label{
  transform: translateX(25px);
  font-size: 13px;
}
.form-row.checkbox input{
  position: absolute; left: 0px;
  margin-top: -4px;
}
.error .form-row.checkbox input{
  margin-top: -30px;
}
.form-row.submit{
  text-align: center;
  display: block;
  width: 140px; height: 40px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}
.subtext{
  font-size: 12px;
  font-family: 'Martin';
  transform: translateY(-3px);
}
.form-row.submit input{
  background-color: #969f23;
  height: 35px; width: 110px;
  display: inline-block;
  color: white;
  font-size: 18px;
  border: 0px;
  cursor: pointer;
  padding: 0px 20px 0px 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-row.submit .submit-triangle{
  color: white; font-size: 22px;
  position: absolute;
  top: 0px; right: 25px;
  line-height: 50px; height: 46px;
}
.form-optout{
  margin-top: 10px;
  font-size: 12px;
  line-height: 10px;
  padding: 0px 10px;
}
.form-optout span{
  text-decoration: underline;
  cursor: pointer;
}
.form-optout a{
  color: #272825;
}
.product{
  width: 230px; height: 230px;
  position: absolute;
  background-image: url('<%- config.assets.fr.product %>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  bottom: 25px; right: 65px;
  opacity: 1;
  transition: all 1s;
}
.game .product{
  transform: translateX(40%) translateY(10%) scale(.8);
  opacity: 1;
}
.thanks{
  margin-top: 50px;
}
.thanks .congrats{
  font-family: 'MartinB';
  font-size: 28px;
  text-transform: uppercase;
}
.thanks .youwin{
  color: #272825;
  font-size: 22px;
}
.thanks .rewardname{
  font-family: 'WomensVoice';
  font-size: 34px;
  margin: 10px;
}
.thanks .youwinexp{
  color: #272825;
  font-size: 16px;
}
.thanks .yourcode{
  color: #272825;
  font-size: 16px;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  text-transform: uppercase;
}
.thanks .yourcode:before{
  content: '';
  display:block;
  height: 2px; background: #272825;
  width: 100px;
  position: absolute; top: 0px; left: 50%;
  transform: translateX(-50%);
}
.thanks .coupon input{
  height: 50px; width: 300px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #272825;
  font-family: 'MartinB';
  margin: 10px 0px;
  padding-top: 7px;
}
.thanks .validity{
  color: #272825;
  font-size: 16px;
  position: relative;
  padding-bottom: 10px;
}
.thanks .validity:after{
  content: '';
  display:block;
  height: 2px; background: #272825;
  width: 100px;
  position: absolute; bottom: 0px; left: 50%;
  transform: translateX(-50%);
}
.dutch .checkbox input{
  margin-top: -30px;
}
.dutch form{
  margin-top: 0px;
}
.bottom-text{
  position: absolute; bottom: 0px; right: 0px; left: 220px;
  text-align: center;
  font-size: 13px;
  color: #272825;
  font-weight: bold;
  font-family: 'MartinB';
}
.game .wheel-wrapper{
  transform: translateX(-60%) translateY(0px) rotateZ(0deg);
}
.wheel-wrapper{
  width: 520px; height: 520px;
  position: absolute;
  right: -220px; top: 35px;
  transition: all 1s;
  transform: rotateZ(-35deg);
}
.wheel-wrapper.thanks{
  transform: rotateZ(-35deg);
}
.play-btn{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #969f23;
  color: white;
  font-size: 36px;
  font-family: 'WomensVoice';
  opacity: 0;
  display: none;
  position: absolute;
  transition: all .3s;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}
.play-btn .play-logo{
  font-size: 24px;
}
.play-btn.show{
  opacity: 1;
  display: block;
}
.pin{
  position: absolute;
  top: 0px; left: 50%;
  width: 60px; height: 60px;
  transform: translateX(-50%) translateY(-35%);
  background-image: url('<%- config.assets.fr.pin %>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.wheel{
  width: 520px; height: 520px;
  border-radius: 50%;
  background-color: white;
  background-image: url('<%- config.assets.fr.wheel %>');
  background-size: 96%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateZ(312deg);
}
.wheel.ready{
  transform: rotateZ(116deg);
  transition: none;
}
.wheel.constant-rotation{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 20000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 20000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 20000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cannotplay{
  font-size: 18px;
  color: white;
  margin-top: 80px;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.suggestion-email {
  text-align: right;
  padding-right: 20px;
  font-size: 12px;
}
.suggestion-email b{
  cursor: pointer;
  font-weight: bold;
}
.checkbox.error span,
.checkbox.error span a{
  color: #ad2121!important;
  font-family: 'MartinB';
}
span.error-field {
    color: #ad2121;
    font-family: 'MartinB';
    font-size: 12px;
    margin-left: 7px;
}
.pulse {
  animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% { -webkit-box-shadow: 0 0 0 0 rgba(255, 120, 0, .8); }
  70% { -webkit-box-shadow: 0 0 0 7px rgba(255, 120, 0, 0); }
  100% { -webkit-box-shadow: 0 0 0 0 rgba(255, 120, 0, 0); }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 120, 0, .8);
    box-shadow: 0 0 0 0 rgba(255, 120, 0, .8);
  }
  70% {
    -moz-box-shadow: 0 0 0 7px rgba(255, 120, 0, 0);
    box-shadow: 0 0 0 7px rgba(255, 120, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 120, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 120, 0, 0);
  }
}

/* PHONE MEDIA QUERY */
@media only screen and (max-width: 601px) {
  #app{
    max-width: 100%;
    max-height: 100%;
  }
  .bg{
    left: 0px;
  }
  .game .logo,
  .logo{
    left: 50% !important;
    transform: translateX(-50%);
  }
  .content{
    top: 150px;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .stamp{
    top: 20px;
    left: 57px;
    bottom: inherit;
  }
  .subtitle{
    font-size: 28px;
  }
  .subtext{
    font-size: 14px;
  }
  .wheel-wrapper{
    right: inherit;
    top: inherit;
    left: 50%;
    transform: translateX(-50%) translateY(55%) scale(1.2) rotate(-36deg);
  }
  .game .wheel-wrapper{
    transform: translateX(-50%) translateY(-35%) scale(1);
  }
  .wheel-wrapper.thanks{
    transform: translateX(-50%) translateY(55%) scale(1.2);
  }
  .form-row{
    width: 400px;
  }
  .form-row label{
    font-size: 30px;
  }
  .form-row input{
    height: 30px; line-height: 30px;
    font-size: 22px;
  }
  .form-row.checkbox label{
    margin-left:8px;
  }
  .bottom-text{
    left: 0px;
  }
  .content{
    top: 170px;
    left: 50px;
    width: 500px;
    z-index: 99;
  }
  .products,
  .leftImg{
    display: none;
  }
  .thanks{
    padding: 0px 30px;
  }
  .thanks .congrats{
    font-size: 35px;
  }
  .thanks .rewardname{
    font-size: 44px;
  }
  .thanks .youwinexp,
  .thanks .yourcode,
  .thanks .validity{
    font-size: 20px;
  }
  .form-optout{
    font-size: 16px;
  }
  .form-optout{
    line-height: inherit;
    margin: 10px 20px;
  }
}
/* IE ?? */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .form-row.checkbox input{
    margin-top: inherit;
  }
}
/* Encore moins d'idée, c'est du sass nan?*/

@-moz-document url-prefix() {
  .form-row.checkbox input{
    margin-top: inherit;
    .content form{
      margin-top: 0px;
    }
    .form-optout{
      margin-top: 0px;
    }
  }
}