<div id="preview">

  <iframe></iframe>

</div>

<script>
  const iframe = d.querySelector('#preview iframe')
  const url = '/template/' + config.operation + '/?lang=' + lgs[0]

  iframe.src = url
</script>