:root {
  --red:        #cb4e4e;
  --red-deep:   #ab3c3c;
  --grey:       #6495a6;
  --blue-light: #cdd2dc; /* #30466e3d transparent variant*/
  --white:      #F2F2F2;
  --green1:     #59FFA7;
  --black:      #011f14;
}