<!DOCTYPE html>
  <head>

    <title>Personality Questionary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico">

    <link rel="stylesheet" type="text/css" href="./static/css/colors.css">
    <link rel="stylesheet" type="text/css" href="./static/css/elements.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  </head>
  <body>

  <div id="app"></div>

  </body>
  <script type="module" src="./static/js/default.js"></script>
  <script id="script"></script>
</html>

<!-- <div id="main">

    <div>
      <button onclick="goTo('first')">Main</button>
      <button onclick="goTo('langueSelect')">Langues</button>
      <button onclick="goTo('questions')">Questions</button>
    </div>

    <form action="/saveQuestionary" method="post" enctype='application/json'>

      <div id="first" class="tab">
        <span>Questionary name</span>
        <input type="text" name="name">
      </div>

      <div id="langueSelect" class="tab hidden">
        <span>Choose langues:</span>
        <div id="langues"></div>
      </div>

      <div id="questions" class="tab hidden">

        <div id="questionsHolder">
        </div>

        <button type="button" onclick="addQuestion()">Add question</button>

      </div>

      <button type="submit">Save questionary</button>

    </form> -->