<% include ../parts/head %>

  <div id="main">

    <div>
      <button onclick="goTo('first')">Main</button>
      <button onclick="goTo('langueSelect')">Langues</button>
      <button onclick="goTo('questions')">Questions</button>
    </div>

    <div id="first" class="tab">
      <span>Questionary name</span>
      <input type="text" name="name">
    </div>

    <div id="langueSelect" class="tab hidden">
      <span>Choose langues:</span>
      <div id="langues"></div>
    </div>

    <div id="questions" class="tab hidden">

      <div id="questionsHolder">

        <div class="questionParams hidden">

          <div class="question">
            <input type="text" name="question" placeholder="Question ...">
          </div>

          <div class="answers">
            <h2>Answers</h2>
            <div class="answerWrapper">
              <div class="imageSelectorWrapper"></div>
              <div class="redirectSelectorWrapper"></div>
            </div>
          </div>

          <button onclick="addAnswer()">add answer</button>

        </div>

      </div>

      <button onclick="addQuestion()">add question</button>

    </div>

  </div>


<% include ../parts/footer %>