<% include ../components/head %>
  <script>
    <% include ../script/newOp.js %>
  </script>

  <div id="flow" class="main-panel">

    <form>
      <h1>Choose Wheel Style</h1>

    </form>

  </div>

<% include ../components/footer %>
