<% include ../components/head %>
  <script>
    <% include ../script/newOp.js %>
  </script>

  <div id="flow" class="main-panel">

    <h1>Choose Wheel Style</h1>
    <div id="flow-params"></div>

    <form
      hidden
      id="form-params"
      action="/getNewOp"
      method="post"
    ></form>

  </div>

<% include ../components/footer %>
