    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>
/*CONFIG LUCKY*/
        window.LUCKY_CONFIG =  <%- config %> || {}
    </script>

    <script>




        var query = <%- JSON.stringify(query) %>


        var existing_reward = query.reward //''//'{{REWARD}}'
        var existing_reward_id = query.reward_id//'{{REWARDID}}'
        var existing_coupon = query.coupon//{{COUPON}}'

    </script>
    <div id="app" :class="{ game: status === 'game' }">
      <div class="bg"></div>
      <div class="leftImg">
        <div>{{txt.date}}</div>
      </div>
      <div class="stamp"></div>


      <div class="logo"></div>

      <div class="content">

        <div v-if="status !== 'thanks' && status !== 'cannotplay' " class="subtitle" v-html="txt.subtitle"></div>

        <form v-if="status !== 'thanks' && status !== 'cannotplay' "  @submit="submitForm">

          <div class="form-row" :class="{ error: hasError(i), checkbox: i.type==='checkbox' }" v-if="!i.hidden" :key="i.name" v-for="i in inputs">
            <label :for="i.name"><span v-html="i.label"></span>
              <span v-if="hasError(i) && i.type !== 'checkbox'" class="error-field subtext">{{i.error || txt.requis}}</span>
              <div v-if="i.subtext" class="subtext">{{i.subtext}}</div>
            </label>

            <input :id="i.name" :type="i.type" v-model="i.value" @keyUp="format" :placeholder="i.placeholder||''" v-if="i.type !== 'radio' && i.type !== 'select' && i.type !== 'email' " />

            <span v-if="i.type==='radio'">
              <span class="radio-wrapper" :key="r" v-for="r in i.values.split('|')">
                <input type="radio" :value="r" :name="i.name" :id="i.name+'-'+r" @change="radioChange" /> <label :for="i.name+'-'+r"><span v-html="r"></span></label>
              </span>
            </span>

            <span v-if="i.type === 'select'">
              <select v-model="i.value">
                <option disabled value="">---</option>
                <option :key="r" v-for="r in i.values.split('|')" :value="r">{{r}}</option>
              </select>
            </span>

            <input :id="i.name" :type="i.type" v-model="i.value" @keyUp="format" :placeholder="i.placeholder||''" v-if="i.type == 'email' " v-on:keyup="checkEmailSuggestion"/>
            <div class="suggestion-email" v-if="i.type == 'email' && suggestion_email">{{i.suggestion}} <b @click="chooseSuggestion">{{ suggestion_email }}</b></div>

          </div>
          <div class="form-row submit">
            <input type="submit" :value="txt.submit" /> <span class="submit-triangle">▸</span>
          </div>
          <div class="form-optout">
            <div>{{txt.optoutText}}</div>
            <div>{{txt.optoutText2}} <span @click="optout">{{txt.optoutLink}}</span></div>
          </div>
        </form>

        <div class="cannotplay" v-if="status === 'cannotplay'" v-html="txt.cannotPlay"></div>

        <div class="thanks" v-if="status === 'thanks'" >

          <div v-if="txt.congrats" class="congrats" v-html="txt.congrats"></div>
          <div v-if="txt.youWin" class="youwin" v-html="txt.youWin"></div>
          <div v-if="rewardName" class="rewardname" v-html="rewardName"></div>
          <div v-if="txt.youWin2" class="youwin" v-html="txt.youWin2"></div>
          <div v-if="txt.youWinExp" class="youwinexp" v-html="txt.youWinExp"></div>
          <div v-if="txt.yourCode" class="yourcode" v-html="txt.yourCode"></div>
          <div v-if="coupon" class="coupon"><input type="text" id="coupon" :value="coupon" /></div>
          <div v-if="txt.validity" class="validity">
              <div id="validity1" v-html="txt.validity"></div>
              <div id="validity2" v-html="txt.validity2"></div>
          </div>

        </div>



      </div>

      <div class="wheel-wrapper" :class="{ thanks: status === 'thanks' }">
        <div class="wheel" :class="wheelClass"></div>
        <div class="pin"></div>

        <div @click="spin" class="play-btn pulse" :class="{ show: status === 'game' && !run }"><span class="play-logo">►</span>{{txt.btnPlay}}</div>
      </div>


      <div class="products"></div>

      <div class="bottom-text">
        <span v-if="status !=='thanks'">{{txt.bottomText}}</span>
        <br v-if="status !=='thanks'">
        <span v-if="status !=='thanks'">{{txt.bottomTextExtra}}</span>

        <span v-if="status ==='thanks'">{{txt.bottomText2}}</span>
      </div>

    </div>

<script>


</script>

<script><%- config.js %></script>
